{% extends 'layouts/base.html' %}
{% load static %}

{% block content %}

    <!-- Blog Details Hero Begin -->
    <section class="blog-hero spad">
        <div class="container">
            <div class="row d-flex justify-content-center">
                <div class="col-lg-9 text-center">
                    <div class="blog__hero__text">
                        <h2>{{ blog.title }}</h2>
                        <ul>
                            <li>By {{ blog.author.first_name }}</li>
                            <li>{{ blog.created_at|date:"F d, Y" }}</li>
                            <li>{{ blog.comments.count }} Comments</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Blog Details Hero End -->

    <!-- Blog Details Section Begin -->
    <section class="blog-details spad">
        <div class="container">
            <div class="row d-flex justify-content-center">
                <div class="col-lg-12">
                    <div class="blog__details__pic">
                        <img src="{{ blog.image.url }}" alt="">
                    </div>
                </div>
                <div class="col-lg-8">
                    <div class="blog__details__content">
                        <div class="blog__details__share">
                            <span>share</span>
                            <ul>
                                <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                                <li><a href="#" class="twitter"><i class="fa fa-twitter"></i></a></li>
                                <li><a href="#" class="youtube"><i class="fa fa-youtube-play"></i></a></li>
                                <li><a href="#" class="linkedin"><i class="fa fa-linkedin"></i></a></li>
                            </ul>
                        </div>
                        <div class="blog__details__text">
                            {{ blog.text|safe }}
                        </div>
                        <div class="blog__details__option">
                            <div class="row">
                                <div class="col-lg-6 col-md-6 col-sm-6">
                                    <div class="blog__details__author">
                                        <div class="blog__details__author__pic">
                                            <img src="{{ blog.author.image.url }}" alt="">
                                        </div>
                                        <div class="blog__details__author__text">
                                            <h5>{{ blog.author.full_name }}</h5>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-6 col-md-6 col-sm-6">
                                    <div class="blog__details__tags">
                                        {% for tag in blog.tags.all %}
                                            <a href="{% url 'blog:blogs' %}?tag={{ tag.slug }}">#{{ tag.name }}</a>
                                        {% endfor %}
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="blog__details__btns">
                            <div class="row">
                                {% with blog.get_previous_by_created_at as prev %}
                                    {% with blog.get_next_by_created_at as nex %}
                                        {% if prev %}
                                            <div class="col-lg-6 col-md-6 col-sm-6">
                                                <a href="{% url "blog:blog_detail" prev.slug %}"
                                                   class="blog__details__btns__item">
                                                    <p><span class="arrow_left"></span>Previous</p>
                                                    <h5>{{ prev.title|truncatewords:"8" }}</h5>
                                                </a>
                                            </div>
                                        {% endif %}

                                        {% if nex %}
                                            <div class="col-lg-6
                                            {% if not prev %}
                                            offset-6
                                            {% endif %}
                                            col-md-6 col-sm-6">
                                                <a href="{% url "blog:blog_detail" nex.slug %}"
                                                   class="blog__details__btns__item blog__details__btns__item--next">
                                                    <p>Next<span class="arrow_right"></span></p>
                                                    <h5>{{ nex.title|truncatewords:"8" }}</h5>
                                                </a>
                                            </div>
                                        {% endif %}
                                    {% endwith %}
                                {% endwith %}
                            </div>
                        </div>

                        <div>
                            {% for comment in blog.comments.all %}
                                <hr>
                                <div class="mb-4">
                                    <div class="d-flex justify-content-between">
                                        <b><u>{{ comment.name }}</u></b>
                                        <i>{{ comment.created_at|timesince }} ago</i>
                                    </div>
                                    <p>{{ comment.comment }}</p>
                                </div>
                            {% endfor %}
                        </div>

                        <div class="blog__details__comment">
                            <h4>Leave A Comment</h4>
                            <form action="{% url 'blog:comment' slug=blog.slug %}" method="post">
                                {% csrf_token %}
                                <div class="row">
                                    <div class="col-lg-4 col-md-4">
                                        <input type="text" name="name" required placeholder="Name">
                                    </div>
                                    <div class="col-lg-4 col-md-4">
                                        <input type="text" name="email" required placeholder="Email">
                                    </div>
                                    <div class="col-lg-4 col-md-4">
                                        <input type="text" name="phone" required placeholder="Phone">
                                    </div>
                                    <div class="col-lg-12 text-center">
                                        <textarea name="comment" required placeholder="Comment"></textarea>
                                        <button type="submit" class="site-btn">Post Comment</button>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Blog Details Section End -->

{% endblock %}